.card-wrapper{
    position: relative;
    clip-path: polygon(19.2% 0, 100% 0, 100% 100%, 0 100%, 0 12%);
}

.card-body {
    margin-top: 40px;
    width: 320px;
    height: 509px;
    position: relative;
    /* border: 4px solid #1698D9; */
    border-radius: 12px;
    clip-path: polygon(19.2% 0, 100% 0, 100% 100%, 0 100%, 0 12%);
    box-sizing: border-box;
    background-color: #F2F2F2;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

.card-body img {
    position: absolute;
    bottom: 0;
    border-radius: 8px;
    left: 0px;
}

.card-line{
    position: absolute;
    width: 86px;
    height: 4px;
    transform: rotate(-45deg);
    top: 30px;
    left: -11px;
    z-index: 2;
}

.card-text{
    /* text-align: center; */
    margin-left: 48px;
    margin-bottom: -35px;
}

.card-text h1 {
    margin-bottom: -20px;
    font-weight: 700;
font-size: 48px;
line-height: 56px;
}

.card-header{
    margin-left: 48px;
    margin-bottom: -35px;
}

.card-text p {
    width: 50%;
    font-family: 'Trebuchet MS';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
}

.card-header p{
    font-family: 'Trebuchet MS';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}

.card-circle{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 400;
font-size: 42px;
line-height: 22px;
}

.card-circle p{
    /* text-align: center; */
    font-weight: 400;
font-size: 22px;
line-height: 22px;
}

.card-circle div{
    margin-top: 15px;
    margin-bottom: -15px;
}

.disabled {
    width: 100%;
    height: 100%;
    background: white;
    z-index: 10;
    position: absolute;
    top: 0;
    opacity: 0.7;
    border-radius: 12px;
}

.description-text{
    color: white;
    width: 320px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
}

.description-text p{
    color: rgb(107, 107, 245);
}

.over{
    color: yellow;
    height: 52px;
}
