.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

body {
  background-image: url('./img/Pattern.svg');
  font-family: 'Trebuchet MS Regular';
}

@font-face {
  font-family: 'Trebuchet MS Regular';
  src: url('./fonts/TrebuchetMS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&family=Inter&family=Roboto&display=swap');